{% extends "layout.html" %}

{% block body %}

<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
    <a class="navbar-brand mx-3" href="#">user-1's dashboard</a>
    <div>
        <a class="navbar-brand" href="admin_show_summary">Summary</a>
        <a class="navbar-brand" href="#">Logout</a>
    </div>

</nav>

<!-- venue addition button -->
<div class="d-flex flex-row-reverse my-4 mx-5">
    <a href="admin_venues"><button class="btn btn-primary rounded-circle btn-lg">+</button></a>
</div>

{% endblock %}