<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">

</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
        <a class="navbar-brand mx-3" href="#">user-1's dashboard</a>
        <div>
            <a class="navbar-brand" href="admin_show_summary">Summary</a>
            <a class="navbar-brand" href="#">Logout</a>
        </div>

    </nav>

    <!-- venue addition button -->
    <div class="d-flex flex-row-reverse my-4 mx-5">
        <button class="btn btn-primary rounded-circle btn-lg">+</button>
    </div>
</body>

</html>